{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static '/icon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static '/icon/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static '/icon/site.webmanifest' %}">
	</head>

	<body class="bg-gradient-to-br from-purple-900 to-purple-600 font-sans leading-normal text-gray-700">

	<img src="{% static 'img/stork.png' %}" class="absolute m-3 w-1/2 lg:w-1/3" />
	
	{% block content %}
	{% endblock %}
	<script src="{% static 'js/umbrella.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	{% block footer %}
	{% endblock %}
	</body>
</html>
