<div class="bg-gray-50 shadow-xl sm:rounded-lg p-6 md:p-8" id="emailForm">
    <form action="{% url 'set_email' %}" method="post">
    {% csrf_token %}
    <label for="email_address" class="block font-serif font-bold text-3xl">Set your email address</label>
    <div class="mt-6 flex space-x-4">
        <div class="flex-1 relative text-gray-400 focus-within:text-gray-600">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
            </div>
            <input type="text" class="py-3 px-4 bg-white placeholder-gray-400 text-gray-900 rounded-lg shadow-md appearance-none w-full block pl-12 focus:border-transparent focus:outline-none focus:ring-offset-2 focus:ring focus:ring-purple-500" name="email_address" id="email_address" placeholder="you@example.com" value="{{ claim.email_address }}">
        </div>
        <button type="submit" class="flex-none w-40 text-green-900 rounded-lg shadow-md appearance-none w-full block bg-green-300 hover:bg-green-400 focus:border-transparent focus:outline-none focus:ring-offset-2 focus:ring focus:ring-green-700 inline-flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="inline-block">Save</span>
        </button>
        
    </div>
    </form>

    <div class="p-3 mx-auto mt-6 bg-blue-50 text-blue-900 rounded-md shadow-md flex items-center space-x-4">
        <div class="flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
            </svg>
        </div>
        <div>
            <div class="text-xl font-medium text-black">Optional</div>
            <p class="text-gray-700">If you fill this out we'll send you an email with a link so you can come back to this page and change the items you've bought later.</p>
        </div>
    </div>

</div>